:host footer {
  display: flex;
  color: #1E293B;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 350px;
  border-top-left-radius: 70px;
}

:host .main {
  margin: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr );
}

:host .row {
  margin-top: 50px;
}

:host .footer-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

:host .copyright {
  text-align: center;
}

:host .copyright p {
  padding: 20px;
}

@media (max-width: 960px) {
  footer {
    width: 100%;
    top: 120px;
  }

  .main {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .logo {
    grid-column: 1/3;
  }
}

@media (max-width: 660px) {
  .main {
    gap: 10px;
    margin: 0;
  }

  .row {
    grid-column: 1/4;
  }
}
