:host .technologies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

:host .technology {
  color: #F2F3F4;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  margin: 2.8rem;
  text-shadow: 3px 2px #000000;
  background-color: #334155;
  border-radius: 99999px;
  width: 285px;
  height: 285px;
  box-shadow: 0 0 7px 0 #000000;
  transform: translateY(1.5em);
  transition: transform ease-in-out 200ms;
}

:host .technology:hover {
  color: #334155;
  background-color: #d3d3d3;
  text-shadow: 3px 2px #8d8d8d;
  transform: scale(1.01);
  box-shadow: 0 0 4px 0 #F2F3F4;
}

:host .technology > h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0 0 0;
  padding: 0;
}

:host .technology > img {
  height: 138px;
}

.loading {
  text-align: center;
  margin-bottom: 50%;
  margin-top: 16%;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  border-radius: 50%;
  border: 3px solid #F2F3F4;
  border-top-color: #313638;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
